In [4]:
import pandas as pd

In [35]:
perm_2019 = pd.read_excel('PERM_FY2019.xlsx')
perm_2020 = pd.read_excel('PERM_Disclosure_Data_FY2020.xlsx')
perm_2021 = pd.read_excel('PERM_Disclosure_Data_FY2021.xlsx')

In [36]:
# Filter out non H-1B 
perm_2019 = perm_2019[perm_2019['CLASS_OF_ADMISSION'] == 'H-1B']
perm_2020 = perm_2020[perm_2020['CLASS_OF_ADMISSION'] == 'H-1B']
perm_2021 = perm_2021[perm_2021['CLASS_OF_ADMISSION'] == 'H-1B']

In [37]:
list(perm_2019.columns)

['CASE_NUMBER',
 'DECISION_DATE',
 'CASE_STATUS',
 'CASE_RECEIVED_DATE',
 'REFILE',
 'ORIG_FILE_DATE',
 'ORIG_CASE_NO',
 'SCHD_A_SHEEPHERDER',
 'EMPLOYER_NAME',
 'EMPLOYER_ADDRESS_1',
 'EMPLOYER_ADDRESS_2',
 'EMPLOYER_CITY',
 'EMPLOYER_STATE',
 'EMPLOYER_COUNTRY',
 'EMPLOYER_POSTAL_CODE',
 'EMPLOYER_PHONE',
 'EMPLOYER_PHONE_EXT',
 'EMPLOYER_NUM_EMPLOYEES',
 'EMPLOYER_YR_ESTAB',
 'FW_OWNERSHIP_INTEREST',
 'AGENT_FIRM_NAME',
 'AGENT_CITY',
 'AGENT_STATE',
 'PW_TRACK_NUM',
 'PW_SOC_CODE',
 'PW_SOC_TITLE',
 'PW_LEVEL_9089',
 'PW_AMOUNT_9089',
 'PW_UNIT_OF_PAY_9089',
 'PW_SOURCE_NAME_9089',
 'PW_SOURCE_NAME_OTHER_9089',
 'PW_DETERM_DATE',
 'PW_EXPIRE_DATE',
 'WAGE_OFFERED_FROM_9089',
 'WAGE_OFFERED_TO_9089',
 'WAGE_OFFER_UNIT_OF_PAY_9089',
 'JOB_INFO_WORK_CITY',
 'JOB_INFO_WORK_STATE',
 'JOB_INFO_WORK_POSTAL_CODE',
 'JOB_INFO_JOB_TITLE',
 'JOB_INFO_EDUCATION',
 'JOB_INFO_EDUCATION_OTHER',
 'JOB_INFO_MAJOR',
 'JOB_INFO_TRAINING',
 'JOB_INFO_TRAINING_NUM_MONTHS',
 'JOB_INFO_TRAINING_FIELD',
 'JOB_INFO_EXPERIENCE',
 'JOB_INFO_EXPERIENCE_NUM_MONTHS',
 'JOB_INFO_ALT_FIELD',
 'JOB_INFO_ALT_FIELD_NAME',
 'JOB_INFO_ALT_COMBO_ED_EXP',
 'JOB_INFO_ALT_COMBO_ED_EXP.1',
 'JOB_INFO_ALT_COMBO_ED_OTHER',
 'JOB_INFO_ALT_CMB_ED_OTH_YRS',
 'JOB_INFO_FOREIGN_ED',
 'JOB_INFO_ALT_OCC',
 'JOB_INFO_ALT_OCC_NUM_MONTHS',
 'JOB_INFO_ALT_OCC_JOB_TITLE',
 'JOB_INFO_JOB_REQ_NORMAL',
 'JOB_INFO_FOREIGN_LANG_REQ',
 'JOB_INFO_COMBO_OCCUPATION',
 'JI_OFFERED_TO_SEC_J_FW',
 'JI_FW_LIVE_ON_PREMISES',
 'JI_LIVE_IN_DOMESTIC_SERVICE',
 'JI_LIVE_IN_DOM_SVC_CONTRACT',
 'RECR_INFO_PROFESSIONAL_OCC',
 'RECR_INFO_COLL_UNIV_TEACHER',
 'RECR_INFO_COLL_TEACH_COMP_PROC',
 'RI_COLL_TCH_BASIC_PROCESS',
 'RI_COLL_TEACH_SELECT_DATE',
 'RI_COLL_TEACH_PRO_JNL',
 'RECR_INFO_SWA_JOB_ORDER_START',
 'RECR_INFO_SWA_JOB_ORDER_END',
 'RECR_INFO_SUNDAY_NEWSPAPER',
 'RI_1ST_AD_NEWSPAPER_NAME',
 'RECR_INFO_FIRST_AD_START',
 'RI_2ND_AD_NEWSPAPER_NAME',
 'RI_2ND_AD_NEWSPAPER_OR_JOURNAL',
 'RECR_INFO_SECOND_AD_START',
 'RECR_INFO_JOB_FAIR_FROM',
 'RECR_INFO_JOB_FAIR_TO',
 'RECR_INFO_ON_CAMPUS_RECR_FROM',
 'RECR_INFO_ON_CAMPUS_RECR_TO',
 'RI_EMPLOYER_WEB_POST_FROM',
 'RI_EMPLOYER_WEB_POST_TO',
 'RECR_INFO_PRO_ORG_ADVERT_FROM',
 'RECR_INFO_PRO_ORG_ADVERT_TO',
 'RI_JOB_SEARCH_WEBSITE_FROM',
 'RI_JOB_SEARCH_WEBSITE_TO',
 'RI_PVT_EMPLOYMENT_FIRM_FROM',
 'RI_PVT_EMPLOYMENT_FIRM_TO',
 'RI_EMPLOYEE_REFERRAL_PROG_FROM',
 'RI_EMPLOYEE_REFERRAL_PROG_TO',
 'RI_CAMPUS_PLACEMENT_FROM',
 'RI_CAMPUS_PLACEMENT_TO',
 'RI_LOCAL_ETHNIC_PAPER_FROM',
 'RI_LOCAL_ETHNIC_PAPER_TO',
 'RECR_INFO_RADIO_TV_AD_FROM',
 'RECR_INFO_RADIO_TV_AD_TO',
 'RECR_INFO_EMPLOYER_REC_PAYMENT',
 'RECR_INFO_BARG_REP_NOTIFIED',
 'RI_POSTED_NOTICE_AT_WORKSITE',
 'RI_LAYOFF_IN_PAST_SIX_MONTHS',
 'RI_US_WORKERS_CONSIDERED',
 'FOREIGN_WORKER_INFO_CITY',
 'FOREIGN_WORKER_INFO_STATE',
 'FW_INFO_POSTAL_CODE',
 'COUNTRY_OF_CITIZENSHIP',
 'FW_INFO_BIRTH_COUNTRY',
 'CLASS_OF_ADMISSION',
 'FOREIGN_WORKER_INFO_EDUCATION',
 'FW_INFO_EDUCATION_OTHER',
 'FOREIGN_WORKER_INFO_MAJOR',
 'FW_INFO_YR_REL_EDU_COMPLETED',
 'FOREIGN_WORKER_INFO_INST',
 'FW_INFO_TRAINING_COMP',
 'FW_INFO_REQ_EXPERIENCE',
 'FW_INFO_ALT_EDU_EXPERIENCE',
 'FW_INFO_REL_OCCUP_EXP',
 'PREPARER_INFO_EMP_COMPLETED',
 'PREPARER_INFO_TITLE',
 'EMPLOYER_DECL_INFO_TITLE',
 'NAICS_US_CODE',
 'NAICS_US_TITLE',
 'PW_JOB_TITLE']

In [43]:
columns_to_keep_19 =['CASE_NUMBER',
'CASE_STATUS',
'CASE_RECEIVED_DATE',
'DECISION_DATE',
'EMPLOYER_NAME', 
'EMPLOYER_CITY',
'EMPLOYER_STATE',
'EMPLOYER_POSTAL_CODE', 
'EMPLOYER_NUM_EMPLOYEES',
'WAGE_OFFERED_FROM_9089',
'WAGE_OFFERED_TO_9089',
'WAGE_OFFER_UNIT_OF_PAY_9089',
'JOB_INFO_WORK_CITY',
'JOB_INFO_WORK_STATE',
'JOB_INFO_WORK_POSTAL_CODE',
'JOB_INFO_JOB_TITLE',
'JOB_INFO_EDUCATION',
'JOB_INFO_MAJOR',
'COUNTRY_OF_CITIZENSHIP',
'FW_INFO_BIRTH_COUNTRY',
'FOREIGN_WORKER_INFO_EDUCATION',
'FOREIGN_WORKER_INFO_MAJOR',
'FW_INFO_YR_REL_EDU_COMPLETED',
'FOREIGN_WORKER_INFO_INST']

In [44]:
perm_2019 = perm_2019[columns_to_keep_19]

In [46]:
columns_to_keep_20 = [
 'CASE_NUMBER',
 'CASE_STATUS',
 'RECEIVED_DATE',
 'DECISION_DATE',
 'EMPLOYER_NAME',
 'EMPLOYER_CITY',
 'EMPLOYER_STATE_PROVINCE',
 'EMPLOYER_POSTAL_CODE',
 'EMPLOYER_NUM_EMPLOYEES',
 'WAGE_OFFER_FROM',
 'WAGE_OFFER_TO',
 'WAGE_OFFER_UNIT_OF_PAY',
 'WORKSITE_CITY',
 'WORKSITE_STATE',
 'WORKSITE_POSTAL_CODE',
 'JOB_TITLE',
 'MINIMUM_EDUCATION', 
 'MAJOR_FIELD_OF_STUDY',
 'COUNTRY_OF_CITIZENSHIP',
 'FOREIGN_WORKER_BIRTH_COUNTRY',
 'FOREIGN_WORKER_EDUCATION',
 'FOREIGN_WORKER_INFO_MAJOR',
 'FOREIGN_WORKER_YRS_ED_COMP',
 'FOREIGN_WORKER_INST_OF_ED'
]

In [47]:
perm_2020 = perm_2020[columns_to_keep_20]
perm_2021 = perm_2021[columns_to_keep_20]

In [48]:
perm_2019.columns = perm_2020.columns

In [53]:
h1b_application = pd.concat([perm_2019, perm_2020, perm_2021])

In [55]:
h1b_application.to_csv('h1b_application_data.csv')

In [4]:
h1b_application.CASE_STATUS.unique()

array(['Certified-Expired', 'Denied', 'Withdrawn', 'Certified'],
      dtype=object)

In [12]:
# only keep the rows with status equals to certified or denied

h1b_application = h1b_application[h1b_application['CASE_STATUS'].isin(['Denied', 'Certified'])]
h1b_application.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [15]:
h1b_application.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_CITY', 'EMPLOYER_STATE_PROVINCE',
       'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES', 'WAGE_OFFER_FROM',
       'WAGE_OFFER_TO', 'WAGE_OFFER_UNIT_OF_PAY', 'WORKSITE_CITY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'JOB_TITLE',
       'MINIMUM_EDUCATION', 'MAJOR_FIELD_OF_STUDY', 'COUNTRY_OF_CITIZENSHIP',
       'FOREIGN_WORKER_BIRTH_COUNTRY', 'FOREIGN_WORKER_EDUCATION',
       'FOREIGN_WORKER_INFO_MAJOR', 'FOREIGN_WORKER_YRS_ED_COMP',
       'FOREIGN_WORKER_INST_OF_ED'],
      dtype='object')

In [14]:
h1b_application.isna().sum()

CASE_NUMBER                         0
CASE_STATUS                         0
RECEIVED_DATE                       0
DECISION_DATE                       0
EMPLOYER_NAME                       0
EMPLOYER_CITY                       0
EMPLOYER_STATE_PROVINCE             2
EMPLOYER_POSTAL_CODE                0
EMPLOYER_NUM_EMPLOYEES            292
WAGE_OFFER_FROM                     1
WAGE_OFFER_TO                   73666
WAGE_OFFER_UNIT_OF_PAY              0
WORKSITE_CITY                       0
WORKSITE_STATE                      0
WORKSITE_POSTAL_CODE                0
JOB_TITLE                           1
MINIMUM_EDUCATION                   0
MAJOR_FIELD_OF_STUDY              950
COUNTRY_OF_CITIZENSHIP              3
FOREIGN_WORKER_BIRTH_COUNTRY      289
FOREIGN_WORKER_EDUCATION            0
FOREIGN_WORKER_INFO_MAJOR        1074
FOREIGN_WORKER_YRS_ED_COMP       1048
FOREIGN_WORKER_INST_OF_ED        1062
dtype: int64

In [17]:
columns = ['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE','EMPLOYER_NAME','EMPLOYER_NUM_EMPLOYEES', 'WORKSITE_CITY',
       'WORKSITE_STATE', 'WAGE_OFFER_FROM','JOB_TITLE', 'COUNTRY_OF_CITIZENSHIP','FOREIGN_WORKER_EDUCATION','FOREIGN_WORKER_INFO_MAJOR']

h1b_application_new = h1b_application[columns]

In [20]:
h1b_application_new.isna().sum()

CASE_NUMBER                     0
CASE_STATUS                     0
RECEIVED_DATE                   0
DECISION_DATE                   0
EMPLOYER_NAME                   0
EMPLOYER_NUM_EMPLOYEES        292
WORKSITE_CITY                   0
WORKSITE_STATE                  0
WAGE_OFFER_FROM                 1
JOB_TITLE                       1
COUNTRY_OF_CITIZENSHIP          3
FOREIGN_WORKER_EDUCATION        0
FOREIGN_WORKER_INFO_MAJOR    1074
dtype: int64

In [23]:
h1b_application_new.dropna(inplace = True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [30]:
h1b_application_new.FOREIGN_WORKER_INFO_MAJOR.value_counts()

COMPUTER SCIENCE                                                   19558
COMPUTER ENGINEERING                                                8608
ELECTRICAL ENGINEERING                                              7775
BUSINESS ADMINISTRATION                                             4512
INFORMATION TECHNOLOGY                                              4046
                                                                   ...
HEALTH ADMINISTRATION RELATED TO ADMINISTRATION                        1
TEXTILE SCIENCES                                                       1
FRENCH TEACHING                                                        1
INFORMATION SCIENCE  ENGINEERING COMPUTER SCIENCE                      1
ENGINEERINGMEASURING AND CONTROL TECHNOLOGY AND INSTRUMENTATION        1
Name: FOREIGN_WORKER_INFO_MAJOR, Length: 11265, dtype: int64

ＭＯＤＥＬ：Logistic regression
ＰＲＥＤＩＣＴＩＯＮ: certified or denied
ＩＭＰＵＴ ＰＡＲＡＭＥＴＥＲＳ：
- employer's name
- petition year
- worksite (city + state)
- job title
- full time or part time
- wage
- citizenship
- major

In [36]:
h1b_application_new.head(10)

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,EMPLOYER_NUM_EMPLOYEES,WORKSITE_CITY,WORKSITE_STATE,WAGE_OFFER_FROM,JOB_TITLE,COUNTRY_OF_CITIZENSHIP,FOREIGN_WORKER_EDUCATION,FOREIGN_WORKER_INFO_MAJOR
8,A-18038-41047,Denied,2018-03-26,2018-10-01,NAZTEC INTERNATIONAL GROUP LLC,59.0,West Palm Beach,FLORIDA,95618.0,Business Intellingence Analyst,INDIA,Bachelor's,BIOINFORMATICS
10,A-18039-41598,Denied,2018-03-27,2018-10-01,NAZTEC INTERNATIONAL GROUP LLC,59.0,West Palm Beach,FLORIDA,99840.0,"Software Developers, System Software",INDIA,Master's,COMPUTER SCIENCE
11,A-18051-45341,Denied,2018-03-26,2018-10-01,NAZTEC INTERNATIONAL GROUP LLC,59.0,West Palm Beach,FLORIDA,99840.0,"Software Developers, System Software",INDIA,Bachelor's,CIVIL ENGINEERING
21,A-18068-51106,Denied,2018-03-22,2018-10-01,LAUNCH IT CORP,54.0,Urbandale,IOWA,103958.0,Computer Programmer,INDIA,Bachelor's,MECHANICAL ENGINEERING
55,A-18205-00752,Denied,2018-08-05,2018-10-01,CONSUMERS ENERGY,7175.0,Ludington,MICHIGAN,110040.0,Project Manager,CANADA,Bachelor's,MECHANICAL ENGINEERING
82,A-18026-35708,Denied,2018-03-02,2018-10-02,APTIFY,94.0,Tysons Corner,VIRGINIA,189779.0,Director for Cloud Operations,INDIA,Master's,COMPUTER SCIENCE
104,A-18068-51264,Denied,2018-03-16,2018-10-02,"AMAZON FULFILLMENT SERVICES, INC.",341400.0,New York,NEW YORK,94827.0,Software Development Engineer II,CHINA,Master's,COMPUTER SCIENCE
292,A-18037-40492,Denied,2018-03-26,2018-10-03,"NORDSTROM, INC.",72500.0,Seattle,WASHINGTON,107000.0,Senior UX Researcher,TAIWAN,Master's,INFORMATION
307,A-18066-50190,Denied,2018-03-26,2018-10-03,"NEW YORK FILM ACADEMY, LTD.",900.0,Burbank,CALIFORNIA,65550.0,Accounting Manager,CHINA,Master's,ACCOUNTING
320,A-18086-56777,Denied,2018-03-28,2018-10-03,Faya Corporation,25.0,Ontario,CALIFORNIA,72800.0,Software Developer,INDIA,Bachelor's,ELECTRONICS AND COMMUNICATION

In [7]:
tmp = h1b_application_new.FOREIGN_WORKER_INFO_MAJOR.value_counts()[h1b_application_new.FOREIGN_WORKER_INFO_MAJOR.value_counts()>100]

In [8]:
tmp.index

Index(['COMPUTER SCIENCE', 'COMPUTER ENGINEERING', 'ELECTRICAL ENGINEERING',
       'BUSINESS ADMINISTRATION', 'INFORMATION TECHNOLOGY',
       'ELECTRONIC ENGINEERING', 'MECHANICAL ENGINEERING',
       'COMPUTER APPLICATIONS', 'ELECTRICAL AND COMPUTER ENGINEERING',
       'COMPUTER SCIENCE AND ENGINEERING', 'MEDICINE',
       'ELECTRONICS ENGINEERING', 'APPLIED COMPUTER SCIENCE', 'ENGINEERING',
       'SOFTWARE ENGINEERING', 'COMPUTER INFORMATION SYSTEMS',
       'INFORMATION SYSTEMS', 'ELECTRONICS AND COMMUNICATION ENGINEERING',
       'ACCOUNTING', 'MANAGEMENT INFORMATION SYSTEMS',
       'INDUSTRIAL ENGINEERING', 'CIVIL ENGINEERING', 'STATISTICS',
       'ECONOMICS', 'FINANCE', 'ELECTRICAL AND ELECTRONICS ENGINEERING',
       'SCIENCE', 'MATHEMATICS', 'ENGINEERING MANAGEMENT',
       'COMPUTER SCIENCE  ENGINEERING', 'CHEMICAL ENGINEERING',
       'ELECTRICAL AND ELECTRONIC ENGINEERING', 'ENGINEERING (ELECTRONIC)',
       'CHEMISTRY', 'ENGINEERING (COMPUTER)', 'PHYSICS', 'ARCHITECTURE',
       'INFORMATION TECHNOLOGY AND MANAGEMENT', 'MEDICAL TECHNOLOGY',
       'INFORMATION SYSTEMS MANAGEMENT', 'TELECOMMUNICATIONS',
       'COMPUTER SCIENCE & ENGINEERING', 'LAW', 'TECHNOLOGY', 'ACCOUNTANCY',
       'BIOMEDICAL ENGINEERING', 'FINANCIAL ENGINEERING', 'BUSINESS ANALYTICS',
       'COMPUTER AND INFORMATION SCIENCE', 'BIOTECHNOLOGY',
       'INFORMATION MANAGEMENT', 'COMPUTER APPLICATION',
       'ELECTRONICS  COMMUNICATION ENGINEERING',
       'INDUSTRIAL AND SYSTEMS ENGINEERING', 'INFORMATION SCIENCE',
       'MANAGEMENT', 'COMMERCE', 'DENTISTRY', 'PHARMACY',
       'AEROSPACE ENGINEERING', 'MATERIALS SCIENCE AND ENGINEERING',
       'ELECTRONICS AND COMMUNICATIONS ENGINEERING',
       'SCIENCE (INFORMATION TECHNOLOGY)', 'SEE H14',
       'COMPUTER SCIENCE AND INFORMATION TECHNOLOGY', 'BIOSTATISTICS',
       'SCIENCE (COMPUTER APPLICATIONS)', 'DATA SCIENCE', 'EDUCATION',
       'COMPUTER NETWORKING', 'ELECTRICAL  COMPUTER ENGINEERING', 'MARKETING',
       'OPERATIONS RESEARCH', 'ELECTRICAL  ELECTRONICS ENGINEERING',
       'APPLIED MATHEMATICS', 'COMPUTER SCIENCE ENGINEERING',
       'ELECTRONICS AND TELECOMMUNICATION ENGINEERING', 'APPLIED STATISTICS',
       'INFORMATION TECHNOLOGY MANAGEMENT', 'SUPPLY CHAIN MANAGEMENT',
       'ELECTRONICS & COMMUNICATION ENGINEERING', 'SYSTEMS ENGINEERING',
       'COMPUTER INFORMATION SYSTEMS AND INFORMATION TECHNOLOGY',
       'AUTOMOTIVE ENGINEERING', 'INFORMATION NETWORKING'],
      dtype='object')

In [32]:
application = h1b_application_new[~h1b_application_new.FOREIGN_WORKER_INFO_MAJOR.isin(['SEE H-14', 'SEE H.14'])]

In [37]:
application.drop('Unnamed: 0', axis=1, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [25]:
application.JOB_TITLE = application.JOB_TITLE.apply(lambda s: s.title())

In [27]:
application.JOB_TITLE.value_counts()[application.JOB_TITLE.value_counts()]

User Experience Design Specialist       1
Sr. Big Data Engineer                   4
SAS Developer                           4
Senior Interior Designer                4
Senior iOS Developer                    7
                                     ...
Software Development Engineer II     2872
Software Development Engineer II     2872
Software Development Engineer II     2872
Software Development Engineer II     2872
Software Development Engineer II     2872
Name: JOB_TITLE, Length: 31882, dtype: int64

In [39]:
application.to_csv('h1b_application.csv')